.box {
	background-color: red;
	height: 300px;
	width: 300px;
	margin: 10px;
}

.flow {
	float: left;
}

.nanny {
	overflow: hidden;
}

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}

.counterflow{
	float: right;
}